{% extends "layout.html" %}
{% block header %}
<h4 class="center-align">Formular I Njoftimit per Hyrje ne aktivitetin e Komunave Elektronike</h4>
{% endblock %}
{% block content %}
<script type="text/javascript">
    function validateForm(id, len, sec, check) {
        var inpData = document.getElementById("forma").elements;
        var checked = false;
        var messages = [' duhet te mbushet !!!',' Plotso se paku nje opsion !!!',' Insertoni fajllet !!!']
        for (var i = 0; i < len; i++) {
            if ((i != 16 && i != 20) && inpData[i].value == "") {
                var emri = document.getElementById("forma").elements[i].placeholder;
                $('#modal2').modal('open');
                document.getElementById('error').innerHTML = emri + messages[0] + inpData.length;
                document.getElementById('btt' + id).setAttribute("dest", '');
                document.getElementById('span' + id).setAttribute('class','');
                return false;
            }
              if (inpData[0].value != "" && inpData[1].value != "" && inpData[2].value != "" && inpData[3].value != "" && inpData[4].value != "" && inpData[5].value != "" && inpData[6].value != "") {
                  document.getElementById('btt' + id).setAttribute("dest", '#sec' + sec);
                  document.getElementById('span' + id).setAttribute('class','icon-check');
              }
              if (inpData[7].value != "" && inpData[8].value != "" && inpData[9].value != "" && inpData[10].value != "" && inpData[11].value != "" && inpData[12].value != "") {
                  document.getElementById('btt' + id).setAttribute("dest", '#sec' + sec);
                  document.getElementById('span' + id).setAttribute('class','icon-check');
              }
            if (check == 1) {
                if (inpData[13].checked == true || inpData[14].checked == true || inpData[15].checked == true || inpData[17].checked == true || inpData[18].checked == true || inpData[19].checked == true || inpData[21].checked == true || inpData[22].checked == true || inpData[23].checked == true || inpData[24].checked == true || inpData[25].checked == true || inpData[26].checked == true || inpData[27].checked == true || inpData[28].checked == true || inpData[29].checked == true ||inpData[30].checked == true) {
                    document.getElementById('btt' + id).setAttribute("dest", '#sec' + sec);
                    document.getElementById('span' + id).setAttribute('class','icon-check');
                } else {
                    $('#modal2').modal('open');
                    document.getElementById('error').innerHTML = "sektori 3" + messages[1];
                    document.getElementById('btt' + id).setAttribute("dest", '');
                    document.getElementById('span' + id).setAttribute('class','');
                    return false;
                }
            }
            if (check == 4) {
              if (inpData[31].value != "" && inpData[32].value != "") {
                document.getElementById('btt' + id).setAttribute("dest", '#sec' + sec);
                document.getElementById('span' + id).setAttribute('class','icon-check');
              }
              else {
                $('#modal2').modal('open');
                document.getElementById('error').innerHTML = "Pershkruani Fazen e ofrimit !!!";
                document.getElementById('btt' + id).setAttribute("dest", '');
                document.getElementById('span' + id).setAttribute('class','');
                return false;
              }
            }
            if (check == 2 ) {
                if (inpData[33].value != "" && inpData[35].value != "" && inpData[37].value != "") {
                    document.getElementById('btt' + id).setAttribute("dest", '#sec' + sec);
                    document.getElementById('span' + id).setAttribute('class','icon-check');
                    // document.getElementById('perfundo').setAttribute('href','#modal1')
                } else {
                    $('#modal2').modal('open');
                    document.getElementById('error').innerHTML = "sektori 5" + messages[2];
                    document.getElementById('btt' + id).setAttribute("dest", '');
                    document.getElementById('span' + id).setAttribute('class','');
                    return false;
                }
            }
            if (check == 3) {
              if (inpData[39].checked != false || inpData[40].checked != false) {
                document.getElementById('btt' + id).setAttribute("dest", '#sec' + sec);
                document.getElementById('span' + id).setAttribute('class','icon-check');
                document.getElementById('perfundo').setAttribute('href','#modal1')
              }
              else{
                $('#modal2').modal('open');
                document.getElementById('error').innerHTML = "klikoni Po/Jo !!!";
                document.getElementById('btt' + id).setAttribute("dest", '');
                document.getElementById('span' + id).setAttribute('class','');
                return false;
              }
            }
        }
    }
    $(document).ready(function() {
        $('input[type=file]').change(function() {
            var val = $(this).val().toLowerCase();
            var regex = new RegExp("(.*?)\.(png|jpg|pdf|xml|bmp|ppt|xls)$");
            if (!(regex.test(val))) {
                $(this).val('');
                alert('Ju lutem insertoni formatin valid (.pdf, .png, .xls, .jpg)');
            }
        });
    });
</script>



<!-- Modal Structure -->
<div id="modal2" class="modal">
    <div class="modal-content" id="modali">
      <h6 id="error" style="color:red;text-align:center"></h6>
    </div>
    <div class="modal-footer">
        <button class=" modal-action modal-close waves-effect waves-green btn-flat">OK</button>
    </div>
</div>







<form method="POST" id="forma" enctype="multipart/form-data" action="{{url_for('.upload_file')}}">
    <ul class="collapsible" data-collapsible="accordion">
        <li>
            <div class="collapsible-header active" id="sec1"><span class="icon-number-one"></span> TE DHENAT PER NDERMARRESIN:<span id="span1" style="float:right"></span></div>
            <div class="row collapsible-body">
                <div class="input-field col s12">
                    <input placeholder="1.1 Emri i Ndermarresit(Entiteti) " id="EmriNdermarrsit" type="text" name="1-1-EmriNdermarrsit" class="validate" autofocus>
                    <label for="" class="active" data-error="Emri eshte gabim!" data-success="Sukses!">1.1 Emri i Ndermarresit(Entiteti)</label>
                </div>
                <div class="input-field col s12">
                    <input placeholder="1.2 Numri i Regjistrimit te Biznesit" id="NrRegjistritBiz" type="number" name="1-2-NumriRegjistritBiznesit" class="validate" >
                    <label for="" class="active" data-error="Numri eshte gabim!" data-success="Sukses!">1.2 Numri i Regjistrimit te Biznesit</label>
                </div>
                <div class="input-field col s12">
                    <input placeholder="1.3 Numri fiskal" id="NrFiskal" type="number" name="1-3-NumriFiskal" class="validate" >
                    <label for="" class="active" data-error="Numri eshte gabim!" data-success="Sukses!">1.3 Numri fiskal</label>
                </div>
                <div class="input-field col s12">
                    <input placeholder="1.4 Adresa" id="Adresa" type="text" name="1-4-Adresa" class="validate" >
                    <label for="" class="active" data-error="Adresa eshte gabim!" data-success="Sukses!">1.4 Adresa</label>
                </div>
                <div class="input-field col s12">
                    <input placeholder="1.5 Numri i Telefonit" id="NumriTelefonit" type="number" name="1-5-NumriTelefonit" class="validate" >
                    <label for="" class="active" data-error="Numri eshte gabim!" data-success="Sukses!">1.5 Numri i Telefonit</label>
                </div>
                <div class="input-field col s12">
                    <input placeholder="1.6 Numri Faksit" id="nrfiskal" type="number" name="1-6-NumriFiskal" class="validate" >
                    <label for="" class="active" data-error="Numri eshte gabim!" data-success="Sukses!">1.6 Numri Faksit</label>
                </div>
                <div class="input-field col s12">
                    <input placeholder="1.7 E-mail adresa" id="email" type="email" class="validate" name="1-7-EmailAdresa" class="validate" >
                    <label for="email" data-error="E-mail eshte gabim!" data-success="Sukses!" class="active">1.7 E-mail adresa</label>
                </div>

                <div class="col s12">
                    <a class="btn bt waves-effect waves-light" data-click="true" onclick="validateForm(1,7,2,0)" id="btt1">Vazhdo!</a>
                </div>
            </div>
        </li>
        <li>
            <div class="collapsible-header sec2" id="sec2"><span class="icon-number-two"></span> TE DHENAT PER ZERTARIN LIGJERISHT TE PERGJITHSHEM:<span id="span2" style="float:right"></span></div>
            <div class="row collapsible-body">
                <div class="input-field col s12">
                    <input placeholder="2.1 Emri i Zyrtarit" id="" type="text" name="2-1-EmriZyrtarit" class="validate" >
                    <label for="" class="active" data-error="Emri eshte gabim!" data-success="Sukses!">2.1 Emri i Zyrtarit</label>
                </div>
                <div class="input-field col s12">
                    <input placeholder="2.2 Adresa" id="" type="text" name="2-2-Adresa" class="validate" >
                    <label for="" class="active" data-error="Emri eshte gabim!" data-success="Sukses!">2.2 Adresa</label>
                </div>
                <div class="input-field col s12">
                    <input placeholder="2.3 Numri i Telefonit" id="" type="number" name="2-3-NumriTelefonit" class="validate" >
                    <label for="" class="active" data-error="Numri eshte gabim!" data-success="Sukses!">2.3 Numri i Telefonit</label>
                </div>
                <div class="input-field col s12">
                    <input placeholder="2.4 Numri i Faksit" id="" type="number" name="2-4-NumriFaksit" class="validate" >
                    <label for="" class="active" data-error="Numri eshte gabim!" data-success="Sukses!">2.4 Numri i Faksit</label>
                </div>
                <div class="input-field col s12">
                    <input placeholder="2.5 E-mail adresa" id="email" type="email" class="validate" name="2-5-EmailAdresa" >
                    <label for="email1" data-error="E-mail eshte gabim!" data-success="Sukses!" class="active">2.5 E-mail adresa</label>
                </div>
                <div class="input-field col s12">
                    <input placeholder="2.6 Numri i ID" id="" type="number" name="2-6-NumriID" class="validate" >
                    <label for="" class="active" data-error="Numri eshte gabim!" data-success="Sukses!">2.6 Numri i ID</label>
                </div>
                <div class="col s12">
                    <a class="btn bt waves-effect waves-light" data-click="true" onclick="validateForm(2,13,3,0)" id="btt2">Vazhdo!</a>
                </div>
            </div>
        </li>
        <li>
            <div class="collapsible-header" id="sec3"><span class="icon-number-three"></span> AKTIVITETET TE CILAT NJOFTOHEN/CREGJISTROHEN:<span id="span3" style="float:right"></span></div>
            <div class="row collapsible-body">
                <table class="highlight responsive-table bordered">
                    <thead>
                        <tr>
                            <th class="num-data" data-field="id">Nr.</th>
                            <th data-field="name">Aktiviteti</th>
                            <th data-field="price">Lloji</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr class="table-row">
                            <td class="num-data">1.</td>
                            <td>Ofrimi i rrjetit publik fiks</td>
                            <td class="tableData">
                                <input type="checkbox" class="checkk" name="3-1-Lokal" id="local" />
                                <label for="local">Lokal</label><br/>
                                <input type="checkbox" class="checkk" name="3-1-Nacional" id="national" />
                                <label for="national">Nacional</label><br/>

                                <input type="checkbox" class="etc_check checkk" name="3-1-Tjera" id="etc" />
                                <label for="etc">Tjera:</label>

                                <textarea placeholder="Specifiko" name="3-1-Tjera-spec" type="text" class="materialize-textarea specify animated fadeIn validate specify-input"></textarea>
                            </td>
                        </tr>

                        <tr class="table-row">
                            <td class="num-data">2.</td>
                            <td>Ofrimi i shërbimeve publike fikse</td>
                            <td class="tableData">
                                <input type="checkbox" class="checkk" name="3-2-lokale/nacionale" id="local-service" />
                                <label for="local-service">Shërbime telefonike lokale/nacionale</label><br/>
                                <input type="checkbox" class="checkk" name="3-2-nderkombetare" id="tel-international-services" />
                                <label for="tel-international-services">Shërbime telefonike ndërkombëtare</label><br/>

                                <input type="checkbox" class="etc_check_2 checkk" name="3-2-Tjera" id="etc-2" />
                                <label for="etc-2">Shërbime tjera:</label>

                                <textarea placeholder="Specifiko" type="text" name="3-2-Tjera-spec" class="materialize-textarea specify-2 animated fadeIn validate specify-input"></textarea>
                            </td>
                        </tr>

                        <tr class="table-row">
                            <td class="num-data">3.</td>
                            <td>Ofrimi i rrjetit publik mobil</td>
                            <td class="tableData">
                                <input type="checkbox" class="checkk" name="3-3-Lokal" id="local-2" />
                                <label for="local-2">Lokal</label><br/>
                                <input type="checkbox" class="checkk" name="3-3-Nacional" id="national-2" />
                                <label for="national-2">Nacional</label><br/>
                            </td>
                        </tr>

                        <tr class="table-row">
                            <td class="num-data">4.</td>
                            <td>Ofrimi i shërbimeve publike mobile</td>
                            <td class="tableData">
                                <input type="checkbox" class="checkk" name="3-4-Sherb-Tel-zerit" id="tel-voice-service" />
                                <label for="tel-voice-service">Shërbime telefonike të zërit</label><br/>
                                <input type="checkbox" class="checkk" name="3-4-Transm-data" id="data-broadcasting" />
                                <label for="data-broadcasting">Transmetim të dhënash</label><br/>
                            </td>
                        </tr>

                        <tr class="table-row">
                            <td class="num-data">5.</td>
                            <td>Ofrimi i shërbimeve të linjave me qira</td>
                            <td class="tableData">
                                <input type="checkbox" class="checkk" name="3-5-FiberOptik" id="optical-fiber" />
                                <label for="optical-fiber">Fibër optik të pa-ndriçuar</label><br/>
                                <input type="checkbox" class="checkk" name="3-5-LinjaTjeraQira" id="other-lines" />
                                <label for="other-lines">Linja tjera me qira</label><br/>
                            </td>
                        </tr>

                        <tr class="table-row">
                            <td class="num-data">6.</td>
                            <td>Ofrimi i rrjetave publike me transmetim satelitor</td>
                            <td class="tableData">
                                <input type="checkbox" class="checkk" name="3-6-Rrjeta-Trans-Sat" id="public-network-satellite" />
                                <label for="public-network-satellite">Ofrimi i rrjetave publike me transmetim satelitor</label><br/>
                            </td>
                        </tr>

                        <tr class="table-row">
                            <td class="num-data">7.</td>
                            <td>Ofrimi i shërbimeve publike satelitore</td>
                            <td class="tableData">
                                <input type="checkbox" class="checkk" name="3-7-Sherbime-Publike-Sat" id="public-services-satellite" />
                                <label for="public-services-satellite">Ofrimi i shërbimeve publike satelitore</label><br/>
                            </td>
                        </tr>

                        <tr class="table-row">
                            <td class="num-data">8.</td>
                            <td>Ofrimi i shërbimeve të transmetimit të të dhënave (Internetit)</td>
                            <td class="tableData">
                                <input type="checkbox" class="checkk" name="3-8-Sherb-Intern" id="public-data-internet-satellite" />
                                <label for="public-data-internet-satellite">Ofrimi i shërbimeve publike të transmetimit të të dhënave(internetit)</label><br/>
                            </td>
                        </tr>

                        <tr class="table-row">
                            <td class="num-data">9.</td>
                            <td>Ofrimi i shërbimeve me vlerë të shtuar</td>
                            <td class="tableData">
                                <input type="checkbox" class="checkk" name="3-9-SherbMeVlere" id="higher-value-services" />
                                <label for="higher-value-services">Ofrimi i shërbimeve me vlerë të shtuar</label><br/>
                            </td>
                        </tr>

                    </tbody>
                </table>
                <div class="col s12">
                    <a class="btn bt waves-effect waves-light" data-click="true" id="btt3" onclick="validateForm(3,31,4,1)">Vazhdo!</a>
                </div>
            </div>
        </li>
        <li>
            <div class="collapsible-header" id="sec4"><span class="icon-number-four"></span> PERSHKRIMI I AKTIVITETIT DHE FAZA E OFRIMIT:<span id="span4" style="float:right"></span></div>
            <div class="row collapsible-body">
                <div class="col s12">
                    <table class="bordered highlight">
                        <tr>
                            <td style="border-right:1px solid #D0D0D0">
                                <br><i style="border-bottom: 1px solid #D0D0D0;">Përshkrimi i rrjetit dhe/ose shërbimit që do të ofrohet:</i></br>
                                <br>(Të jepen përshkrime të detajuara për secilin aktivitet të njoftuar duke specifikuar:</br>
                                <ul class="browser-default" id="ulista">
                                    <li>A do të përdoret rrjeti vetanak apo ndonjë rrjet tjetër</li>
                                    <li>Teknologjia e cila do të përdoret, Radio frekuencat, të cilat planifikohen të përdoren</li>
                                    <li>Lista e shërbimeve që planifikohen të ofrohen,</li>
                                    <li>etj.</li>
                                </ul>
                                <br>Mund të përdoret ndonjë Shtojcë i veçantë në rast se hapësira nuk është e mjaftueshme)</br>
                            </td>
                            <td>
                                <div class="input-field col s12">
                                    <textarea id="textarea1" class="materialize-textarea" name="4-1-PershkrimiRrjetitOfrohet" class="validate"></textarea>
                                    <label for="textarea1">Pershkruaj</label>
                                </div>
                            </td>
                </div>
                </tr>
                <tr>
                    <td style="border-right:1px solid #D0D0D0">
                        <br><i style="border-bottom: 1px solid #D0D0D0;">Faza e Ofrimit:</i></br>
                        <br>(Të specifikohet koha e parashikuar për fillimin e aktivitetit të komunikimeve elektronike)</br>
                    </td>
                    <td>
                        <div class="input-field col s12">
                            <label for="textarea2">Pershkruaj</label>
                            <textarea id="textarea2" class="materialize-textarea" name="4-2-FazaOfrimit" class="validate"></textarea>
                        </div>
                    </td>
                </tr>
                </table>
                <div class="col s12"> <a class="btn bt waves-effect waves-light" data-click="true" id="btt4" onclick="validateForm(4, 33, 5, 4)">Vazhdo!</a></div>
            </div>
            </div>
        </li>
        <li>
            <div class="collapsible-header" id="sec5"><span class="icon-number-five"></span> DOKUMENTET E BASHKANGJITURA:<span id="span5" style="float:right"></span></div>
            <div class="row collapsible-body">
                <div class="col s12">
                    <table class="highlight">
                        <thead>
                            <tr>
                                <td><i>Dokumentet e bashkangjitura si shtojcë aplikacionit të Njoftimit:</i></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="table-row">
                                <td>
                                    <div class="col m12 s12">
                                        <label class="lbl"> Kopje e certifikatës së regjistrimit të biznesit </label>
                                        <div class="file-field input-field">
                                            <div class="btn">
                                                <span>File</span>
                                                <input type="file" class="validate" name="file1">
                                            </div>
                                            <div class="file-path-wrapper">
                                                <input class="file-path validate" type="text" name="5-1-KopjeCertifikatesBiz" placeholder="Kopje e certifikatës së regjistrimit të biznesit" onchange="ValidateSingleInput(this);">
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr class="table-row">
                                <td>
                                    <div class="col m12 s12">
                                        <label class="lbl"> Kopje e Certifikatës së numrit fiskal</label>
                                        <div class="file-field input-field">
                                            <div class="btn">
                                                <span>File</span>
                                                <input type="file" class="validate" name="file2">
                                            </div>
                                            <div class="file-path-wrapper">

                                                <input class="file-path validate" type="text" name="5-2-KopjeCertifikatesFiskal" placeholder="Kopje e Certifikatës së numrit fiskal" onchange="ValidateSingleInput(this);">
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr class="table-row">
                                <td>
                                    <div class="col m12 s12">
                                        <label class="lbl"> Kopje e dokumentit ‘Informatë mbi biznesin</label>
                                        <div class="file-field input-field">
                                            <div class="btn">
                                                <span>File</span>
                                                <input type="file" class="validate" name="file3">
                                            </div>
                                            <div class="file-path-wrapper">
                                                <input class="file-path validate" type="text" name="5-3-KopjeDok" placeholder="Kopje e dokumentit ‘Informatë mbi biznesin" onchange="ValidateSingleInput(this);">
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="col s12">
                        <a class="btn bt waves-effect waves-light" data-click="true" id="btt5" onclick="validateForm(5, 38, 6, 2)">Vazhdo!</a>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="collapsible-header" id="sec6"><span class="icon-number-six"></span> KONFIRMIMI I NJOFTIMIT:<span id="span6" style="float:right"></span></div>
            <div class="row collapsible-body">
                <div class="col s12">
                    <h6>Ndermarrja kerkon qe t'i leshohet certifikata e konfirmimit te njoftimit per ofrimin e rrjeteve dhe/ose sherbimeve publike te komunikimeve elektronike te njoftuara permes ketij formulari:</h6>
                    <br>
                    <div class="bt">
                        <input name="6-Po/Jo" type="radio" id="test1" />
                        <label for="test1">PO</label>
                        <input name="6-Po/Jo" type="radio" id="test2" />
                        <label for="test2">JO</label>
                    </div>
                    </br>
                </div>
                <div class="col s12"> <a class="btn bt waves-effect waves-light" id="btt6" data-click="true" onclick="validateForm(6,39, 7, 3)">Vazhdo!</a></div>
            </div>
        </li>
        <li>
            <div class="collapsible-header" id="sec7"><span class="icon-number-seven"></span> Perfundim</div>
            <div class="row collapsible-body">
                <div class="input-field col s12">
                </div>
                <a class="modal-trigger waves-effect waves-light btn bt" id="perfundo">Perfundo</a>

                <!-- Modal Structure -->
                <div id="modal1" class="modal modal-fixed-footer">
                    <div class="modal-content">
                        <ul>
                            <li>
                                <div class="une">
                                    <input type="checkbox" id="pch1" />
                                    <label for="pch1">Unë nëpërmjet këtij dokumenti deklaroj se do të ushtroj aktivitet në fushën e komunikimeve elektronike të shënuara më sipër dhe aplikoj për regjistrim në regjistrin e ofrueseve të rrjeteve dhe shërbimeve të komunikimeve elektronike të Autoritetit (ARKEP).
                                  </label>
                                </div>
                            </li>
                            <li>
                                <div class="une">
                                    <input type="checkbox" id="pch2" />
                                    <label for="pch2">Unë nëpërmjet këtij dokumenti deklaroj se kam mbyllur aktivitetet e komunikimeve elektronike të shënuara më sipër.</label>
                                </div>
                            </li>
                            <li>
                                <div class="une">
                                    <input type="checkbox" id="pch3" />
                                    <label for="pch3">Unë nëpërmjet këtij dokumenti deklaroj se kam mbyllur çdo aktivitet të komunikimeve elektronike nën regjimin e Autorizimit të përgjithshëm.</label>
                                </div>
                            </li>
                            <li>
                                <div class="une">
                                    <input type="checkbox" id="pch4" />
                                    <label for="pch4">Unë nëpërmjet këtij dokumenti deklaroj se të dhënat e mia kanë pësuar ndryshime, sikurse përshkruhen në formular.
                                  </label>
                                </div>
                            </li>
                            <li>
                                <div class="une">
                                    <input type="checkbox" id="pch5" />
                                    <label for="pch5">Unë nëpërmjet këtij dokumenti deklaroj se kam ndryshuar formën ligjore të ndërmarrjes sime siç përshkruhet në formular. Emri i vjetër është si më poshtë;
                                  </label>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button class="btn cyan waves-effect waves-light center" type="submit" id="buttoni" name="" method="POST">Submit
                      </button>
                    </div>
                </div>

            </div>
        </li>
    </ul>
</form>
{% endblock %}
