{% extends "layout.html" %} {% block content %}
  <script type="text/javascript">

      $(document).ready(function() {
          $('[data-click]').on('click', function(e) {
              $($(this).attr('dest')).trigger('click');
          });
          $("#forma").submit(function(e) {
              alert(
                  "!!! Autoriteti do te procedoj me shqyrtimin e Formularit te Njoftimit vetem pas kompletimit te Dosjes dhe do ta njoftoj ndermarresin per vendosjen ne Regjistrin e Njoftimit brenda 5 (pese) diteve te punes nga ta data e kompletimit te Njoftimit"
              );
          });
          $(".etc_check").on('click', function() {
              if ($(this).attr('checked', 'checked')) {
                  $('.specify').toggleClass("specify-input");
              }
          });
          $(".etc_check_2").on('click', function() {
              if ($(this).attr('checked', 'checked')) {
                  $('.specify-2').toggleClass("specify-input");
              }
          });
          // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
          $('.modal').modal();
      });
  </script>

  <div class="container">
      <div class="col s12 m6 l6">
          <div class="card-panel">
              <div id="img" class="col s12">
                  <img class="responsive-img" src="{{ url_for('static', filename='logo3.png') }}" />
                  <h4 class="center-align">Formular I Njoftimit per Hyrje ne aktivitetin e Komunave Elektronike</h4>
              </div>
              <div class="row">
                <div class="col s12">
                  <form method="POST" id="forma">
                      <ul class="collapsible" data-collapsible="accordion">
                          <li>
                              <div class="collapsible-header active" id="sec1"><span class="icon-number-one"></span> TE DHENAT PER NDERMARRESIN:</div>
                              <div class="row collapsible-body">
                                  <div class="input-field col s12">
                                      <input placeholder="1.1 Emri i Ndermarresit(Entiteti) " id="EmriNdermarrsit" type="text" name="EmriNdermarrsit" class="validate" required>
                                      <label for="" class="active" data-error="Emri eshte gabim!" data-success="Sukses!">1.1 Emri i Ndermarresit(Entiteti)</label>
                                  </div>
                                  <div class="input-field col s12">
                                      <input placeholder="1.2 Numri i Regjistrimit te Biznesit" id="NrRegjistritBiz" type="number" name="NumriRegjistritBiznesit" class="validate" required>
                                      <label for="" class="active" data-error="Numri eshte gabim!" data-success="Sukses!">1.2 Numri i Regjistrimit te Biznesit</label>
                                  </div>
                                  <div class="input-field col s12">
                                      <input placeholder="1.3 Numri fiskal" id="NrFiskal" type="number" name="NumriFiskal" class="validate" required>
                                      <label for="" class="active" data-error="Numri eshte gabim!" data-success="Sukses!">1.3 Numri fiskal</label>
                                  </div>
                                  <div class="input-field col s12">
                                      <input placeholder="1.4 Adresa" id="Adresa" type="text" name="Adresa" class="validate" required>
                                      <label for="" class="active" data-error="Adresa eshte gabim!" data-success="Sukses!">1.4 Adresa</label>
                                  </div>
                                  <div class="input-field col s12">
                                      <input placeholder="1.5 Numri i Telefonit" id="NumriTelefonit" type="number" name="NumriTelefonit" class="validate" required>
                                      <label for="" class="active" data-error="Numri eshte gabim!" data-success="Sukses!">1.5 Numri i Telefonit</label>
                                  </div>
                                  <div class="input-field col s12">
                                      <input placeholder="1.6 Numri Fiskal" id="nrfiskal" type="number" name="NumriFiskal" class="validate" required>
                                      <label for="" class="active" data-error="Numri eshte gabim!" data-success="Sukses!">1.6 Numri Fiskal</label>
                                  </div>
                                  <div class="input-field col s12">
                                      <input placeholder="1.7 E-mail adresa" id="email" type="email" class="validate" name="EmailAdresa" class="validate" required>
                                      <label for="email" data-error="E-mail eshte gabim!" data-success="Sukses!" class="active">1.7 E-mail adresa</label>
                                  </div>

                                  <div class="col s12">
                                      <a class="btn bt waves-effect waves-light" data-click="true" onclick="validateForm(1,7,2)" id="btt">Vazhdo!</a>
                                  </div>
                              </div>
                          </li>
                          <li>
                              <div class="collapsible-header sec2" id="sec2"><span class="icon-number-two"></span> TE DHENAT PER ZERTARIN LIGJERISHT TE PERGJITHSHEM:</div>
                              <div class="collapsible-body">
                                  <div class="input-field col s12">
                                      <input placeholder="2.1 Emri i Zyrtarit" id="" type="text" name="EmriZyrtarit" class="validate" required>
                                      <label for="" class="active" data-error="Emri eshte gabim!" data-success="Sukses!">2.1 Emri i Zyrtarit</label>
                                  </div>
                                  <div class="input-field col s12">
                                      <input placeholder="2.2 Adresa" id="" type="text" name="Adresa2" class="validate" required>
                                      <label for="" class="active" data-error="Emri eshte gabim!" data-success="Sukses!">2.2 Adresa</label>
                                  </div>
                                  <div class="input-field col s12">
                                      <input placeholder="2.3 Numri i Telefonit" id="" type="number" name="NumriTelefonit2" class="validate" required>
                                      <label for="" class="active" data-error="Numri eshte gabim!" data-success="Sukses!">2.3 Numri i Telefonit</label>
                                  </div>
                                  <div class="input-field col s12">
                                      <input placeholder="2.4 Numri i Faksit" id="" type="number" name="NumriFaksit" class="validate" required>
                                      <label for="" class="active" data-error="Numri eshte gabim!" data-success="Sukses!">2.4 Numri i Faksit</label>
                                  </div>
                                  <div class="input-field col s12">
                                      <input placeholder="2.5 E-mail adresa" id="email" type="email" class="validate" name="EmailAdresa2 required">
                                      <label for="email1" data-error="E-mail eshte gabim!" data-success="Sukses!" class="active">2.5 E-mail adresa</label>
                                  </div>
                                  <div class="input-field col s12">
                                      <input placeholder="2.6 Numri i ID" id="" type="number" name="NumriID" class="validate" required>
                                      <label for="" class="active" data-error="Numri eshte gabim!" data-success="Sukses!">2.6 Numri i ID</label>
                                  </div>
                                  <div class="col s12"> <a class="btn bt waves-effect waves-light" data-click="true" onclick="validateForm(1,13,3)" id="btt2">Vazhdo!</a></div>
                              </div>
                          </li>
                          <li>
                              <div class="collapsible-header" id="sec3"><span class="icon-number-three"></span> AKTIVITETET TE CILAT NJOFTOHEN/CREGJISTROHEN:</div>
                              <div class="collapsible-body">
                                  <table class="highlight responsive-table bordered">
                                      <thead>
                                          <tr>
                                              <th class="num-data" data-field="id">Nr.</th>
                                              <th data-field="name">Aktiviteti</th>
                                              <th data-field="price">Lloji</th>
                                          </tr>
                                      </thead>

                                      <tbody>
                                          <tr class="table-row">
                                              <td class="num-data">1.</td>
                                              <td>Ofrimi i rrjetit publik fiks</td>
                                              <td class="tableData">
                                                  <input type="checkbox" class="" name="checkbox" id="local" />
                                                  <label for="local">Lokal</label><br/>
                                                  <input type="checkbox" class="" name="checkbox" id="national" />
                                                  <label for="national">Nacional</label><br/>

                                                  <input type="checkbox" class=" etc_check" name="checkbox" id="etc" />
                                                  <label for="etc">Tjera:</label>

                                                  <input placeholder="Specifiko" type="text" class="specify animated fadeIn validate specify-input">
                                              </td>
                                          </tr>


                                          <tr class="table-row">
                                              <td class="num-data">2.</td>
                                              <td>Ofrimi i shërbimeve publike fikse</td>
                                              <td class="tableData">
                                                  <input type="checkbox" class="" name="checkbox" id="local-service" />
                                                  <label for="local-service">Shërbime telefonike lokale/nacionale</label><br/>
                                                  <input type="checkbox" class="" name="checkbox" id="tel-international-services" />
                                                  <label for="tel-international-services">Shërbime telefonike ndërkombëtare</label><br/>

                                                  <input type="checkbox" class=" etc_check_2" name="checkbox" id="etc-2" />
                                                  <label for="etc-2">Shërbime tjera:</label>

                                                  <input placeholder="Specifiko" type="text" class="specify-2 animated fadeIn validate specify-input">
                                              </td>
                                          </tr>

                                          <tr class="table-row">
                                              <td class="num-data">3.</td>
                                              <td>Ofrimi i rrjetit publik mobil</td>
                                              <td class="tableData">
                                                  <input type="checkbox" class="" name="checkbox" id="local-2" />
                                                  <label for="local-2">Lokal</label><br/>
                                                  <input type="checkbox" class="" name="checkbox" id="national-2" />
                                                  <label for="national-2">Nacional</label><br/>
                                              </td>
                                          </tr>

                                          <tr class="table-row">
                                              <td class="num-data">4.</td>
                                              <td>Ofrimi i shërbimeve publike mobile</td>
                                              <td class="tableData">
                                                  <input type="checkbox" class="" name="checkbox" id="tel-voice-service" />
                                                  <label for="tel-voice-service">Shërbime telefonike të zërit</label><br/>
                                                  <input type="checkbox" class="" name="checkbox" id="data-broadcasting" />
                                                  <label for="data-broadcasting">Transmetim të dhënash</label><br/>
                                              </td>
                                          </tr>

                                          <tr class="table-row">
                                              <td class="num-data">5.</td>
                                              <td>Ofrimi i shërbimeve të linjave me qira</td>
                                              <td class="tableData">
                                                  <input type="checkbox" class="" name="checkbox" id="optical-fiber" />
                                                  <label for="optical-fiber">Fibër optik të pa-ndriçuar</label><br/>
                                                  <input type="checkbox" class="" name="checkbox" id="other-lines" />
                                                  <label for="other-lines">Linja tjera me qira</label><br/>
                                              </td>
                                          </tr>

                                          <tr class="table-row">
                                              <td class="num-data">6.</td>
                                              <td>Ofrimi i rrjetave publike me transmetim satelitor</td>
                                              <td class="tableData">
                                                  <input type="checkbox" class="" name="checkbox" id="public-network-satellite" />
                                                  <label for="public-network-satellite">Ofrimi i rrjetave publike me transmetim satelitor</label><br/>
                                              </td>
                                          </tr>

                                          <tr class="table-row">
                                              <td class="num-data">7.</td>
                                              <td>Ofrimi i shërbimeve publike satelitore</td>
                                              <td class="tableData">
                                                  <input type="checkbox" class="" name="checkbox" id="public-services-satellite" />
                                                  <label for="public-services-satellite">Ofrimi i shërbimeve publike satelitore</label><br/>
                                              </td>
                                          </tr>

                                          <tr class="table-row">
                                              <td class="num-data">8.</td>
                                              <td>Ofrimi i shërbimeve të transmetimit të të dhënave (Internetit)</td>
                                              <td class="tableData">
                                                  <input type="checkbox" class="" name="checkbox" id="public-data-internet-satellite" />
                                                  <label for="public-data-internet-satellite">Ofrimi i shërbimeve publike të transmetimit të të
                	      									dhënave(internetit)</label><br/>
                                              </td>
                                          </tr>

                                          <tr class="table-row">
                                              <td class="num-data">9.</td>
                                              <td>Ofrimi i shërbimeve me vlerë të shtuar</td>
                                              <td class="tableData">
                                                  <input type="checkbox" class="" name="checkbox" id="higher-value-services" />
                                                  <label for="higher-value-services">Ofrimi i shërbimeve me vlerë të shtuar</label><br/>
                                              </td>
                                          </tr>

                                      </tbody>
                                  </table>
                                  <div class="col s12">
                                      <a class="btn bt waves-effect waves-light" data-click="true" id="btt3" onclick="validateChecks()">Vazhdo!</a>
                                  </div>
                          </li>
                          <li>
                              <div class="collapsible-header" id="sec4"><span class="icon-number-four"></span> PERSHKRIMI I AKTIVITETIT DHE FAZA E OFRIMIT:</div>
                              <div class="collapsible-body">
                                  <div class="col m6 s12" style="border-right:1px solid black">
                                      <h6>Pershkrimi i rrjetit dhe/ose sherbimit qe do te ofrohet:</h6>
                                  </div>
                                  <div class="input-field col m6 s12">
                                      <textarea id="textarea1" class="materialize-textarea" style="height:10em" name="PershkrimiRrjetitOfrohet" class="validate" required></textarea>
                                      <label for="textarea1">Textarea</label>
                                  </div>
                                  <div class="col m6 s12" style="border-right:1px solid black">
                                      <h6>Faza e Ofrimit:</h6>
                                  </div>
                                  <div class="input-field col m6 s12">
                                      <textarea id="textarea1" class="materialize-textarea" style="height:100%" name="FazaOfrimit" class="validate" required></textarea>
                                      <label for="textarea2">Textarea</label>
                                  </div>
                                  <div class="col s12"> <a class="btn bt waves-effect waves-light" data-click="true" onclick="#sec5">Vazhdo!</a></div>
                              </div>
                          </li>
                          <li>
                              <div class="collapsible-header" id="sec5"><span class="icon-number-five"></span> DOKUMENTET E BASHKANGJITURA:</div>
                              <div class="collapsible-body">
                                  <div class="col m12 s12">
                                      <div class="file-field input-field">
                                          <div class="btn">
                                              <span>File</span>
                                              <input type="file" class="validate" required>
                                          </div>
                                          <div class="file-path-wrapper">
                                              <label for=""> Kopje e certifikatës së regjistrimit të biznesit </label>
                                              <input class="file-path validate" type="text">
                                          </div>
                                      </div>
                                  </div>
                                  <div class="col m12 s12">
                                      <div class="file-field input-field">
                                          <div class="btn">
                                              <span>File</span>
                                              <input type="file" class="validate" required>
                                          </div>
                                          <div class="file-path-wrapper">

                                              <input class="file-path validate" type="text" placeholder="Kopje e Certifikatës së numrit fiskal">
                                              <label for="">Kopje e Certifikatës së numrit fiskal</label>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="col m12 s12">
                                      <div class="file-field input-field">
                                          <div class="btn">
                                              <span>File</span>
                                              <input type="file" class="validate" required>
                                          </div>
                                          <div class="file-path-wrapper">
                                              <label for="">Kopje e dokumentit ‘Informatë mbi biznesin</label>
                                              <input class="file-path validate" type="text">
                                          </div>
                                      </div>
                                  </div>
                                  <div class="col s12"> <a class="btn bt waves-effect waves-light" data-click="true" onclick="#sec6">Vazhdo!</a></div>
                              </div>
                          </li>
                          <li>
                              <div class="collapsible-header" id="sec6"><span class="icon-number-six"></span> KONFIRMIMI I NJOFTIMIT:</div>
                              <div class="collapsible-body">
                                  <div class="col m12 l12 s12">
                                      <h6>Ndermarrja kerkon qe t'i leshohet certifikata e konfirmimit te njoftimit per ofrimin e rrjeteve dhe/ose sherbimeve publike te komunikimeve elektronike te njoftuara permes ketij formulari:</h6>
                                      <br>
                                        <input name="group1" type="radio" id="test1" />
                                        <label for="test1">PO</label>
                                      </br>
                                      <br>
                                        <input name="group1" type="radio" id="test2" />
                                        <label for="test2">JO</label>
                                      </br>
                                  </div>
                                  <div class="col s12"> <a class="btn bt waves-effect waves-light" data-click="true" onclick="#fund">Vazhdo!</a></div>
                              </div>
                          </li>
                          <li>
                              <div class="collapsible-header" id="fund"><span class="icon-number-seven"></span> Perfundim</div>
                              <div class="collapsible-body">
                                  <div class="input-field col s12">
                                  </div>
                                  <a class="modal-trigger waves-effect waves-light btn" href="#modal1">Perfundo</a>

                                  <!-- Modal Structure -->
                                  <div id="modal1" class="modal modal-fixed-footer">
                                      <div class="modal-content">
                                          <ul>
                                              <li>
                                                  <div class="une">
                                                      <input type="checkbox" id="pch1"/>
                                                      <label for="pch1" >Unë nëpërmjet këtij dokumenti deklaroj se do të ushtroj aktivitet në fushën e komunikimeve elektronike të shënuara më sipër dhe aplikoj për regjistrim në regjistrin e ofrueseve të rrjeteve dhe shërbimeve të komunikimeve elektronike të Autoritetit (ARKEP).
                                                      </label>
                                                  </div>
                                              </li>
                                              <li>
                                                  <div class="une">
                                                      <input type="checkbox" id="pch2" />
                                                      <label for="pch2">Unë nëpërmjet këtij dokumenti deklaroj se kam mbyllur aktivitetet e komunikimeve elektronike të shënuara më sipër.</label>
                                                  </div>
                                              </li>
                                              <li>
                                                  <div class="une">
                                                      <input type="checkbox" id="pch3" />
                                                      <label for="pch3">Unë nëpërmjet këtij dokumenti deklaroj se kam mbyllur çdo aktivitet të komunikimeve elektronike nën regjimin e Autorizimit të përgjithshëm.</label>
                                                  </div>
                                              </li>
                                              <li>
                                                  <div class="une">
                                                      <input type="checkbox" id="pch4" />
                                                      <label for="pch4">Unë nëpërmjet këtij dokumenti deklaroj se të dhënat e mia kanë pësuar ndryshime, sikurse përshkruhen në formular.
                                                      </label>
                                                  </div>
                                              </li>
                                              <li>
                                                  <div class="une">
                                                      <input type="checkbox" id="pch5" />
                                                      <label for="pch5">Unë nëpërmjet këtij dokumenti deklaroj se kam ndryshuar formën ligjore të ndërmarrjes sime siç përshkruhet në formular. Emri i vjetër është si më poshtë;
                                                      </label>
                                                  </div>
                                              </li>
                                          </ul>
                                      </div>
                                      <div class="modal-footer">
                                          <button class="btn cyan waves-effect waves-light center" type="submit" id="buttoni" name="action" method="POST">Submit
                                          </button>
                                      </div>
                                  </div>
                              </div>
                          </li>
                      </ul>
                  </form>
                  </div>
              </div>
              <footer style="text-align:center;font-size:12px">
                Adresa: Qyteza Pejton, Rr. Mujo Ulqinaku nr. 7, 10 000 Prishtinë, Republika e Kosovës
                <br>Tel: + 381 (38) 212-345; Fax: + 381 (38) 212 399;
                <br>E-mail: <a href="mailto:info@arkep-rks.org">info@arkep-rks.org</a>; web-site: <a href="http://www.arkep-rks.org/">www.arkep-rks.org</a>
              </footer>
          </div>
      </div>
{% endblock %}
