<!DOCTYPE html>
<html>
<head>
	<title>Techstitution</title>
	<link type="text/css" rel="stylesheet" href="{{ url_for( 'static', filename='css/materialize.min.css') }}" media="screen,projection" />
	<link rel="stylesheet" href="{{ url_for( 'static', filename='css/stylesheet.css') }}" />
	<link rel="stylesheet" href="{{url_for( 'static', filename='fonts1.css') }}"
	<!--Let browser know website is optimized for mobile-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<!-- jQuery is required by Materialize to function -->
	<script type="text/javascript" src="{{ url_for( 'static', filename='js/jquery-2.1.1.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for( 'static', filename='js/materialize.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for( 'static', filename='js/validation.js') }}"></script>

</head>
<body>

	<div class="container">
		<div class="col s12 m6 l6">
			<div class="card-panel">
					<div id="img" class="col s12">
							<img class="responsive-img" src="{{ url_for('static', filename='logo3.png') }}" />
							{% block header %}

							{% endblock %}
					</div>
					<div class="row">
						<div class="col s12">
							{% block content %}

							{% endblock %}
						</div>
					</div>
				<footer style="text-align:center;font-size:12px">
					Adresa: Qyteza Pejton, Rr. Mujo Ulqinaku nr. 7, 10 000 Prishtinë, Republika e Kosovës
					<br>Tel: + 381 (38) 212-345; Fax: + 381 (38) 212 399;
					<br>E-mail: <a href="mailto:info@arkep-rks.org">info@arkep-rks.org</a>; web-site: <a href="http://www.arkep-rks.org/">www.arkep-rks.org</a>
				</footer>
			</div>
		</div>
	</div>
</body>
</html>
